body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    /* background-color: yellow; */
    border-bottom: 3px solid #3a2a2b;
    font-size: 20px;
    background-color: #4a473e;
    padding: 0px 50px 10px 50px;
}

header ul, footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #efe9d3;
}

.ul_head {
    height: 7em;
}

ul a:visited {
    color: #efe9d3;
}

a:active {
    color: #10162c;
}

a {
    text-decoration: none;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 50px;
}

h2 {
    padding: 0;
    margin: 0;
    font-size: 30px;
}

p {
    text-align: justify;
}

p a:visited {
   color: black;
}

main {
    background-color: #efe9d3;
}

.cnt {
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
}

code {
    padding: 0;
    margin: 0;
}

pre {
    padding: 10px;
    background-color: white;
}

.epam {
    width: 500px;
}