body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header ul, footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    color: #efe9d3;
}

header ul {
    align-items: flex-end;
}

footer ul {
    flex-direction: column;
    align-items: flex-start;
}

.ul_head {
    border-bottom: 3px solid #3a2a2b;
    font-size: 20px;
    background-color: #4a473e;
    padding: 0px 50px 10px 50px;
    height: 7em;
}

ul a:link{
    color: #efe9d3;
}

ul a:visited{
    color: #efe9d3;
}

a:active {
    color: #10162c;
}

a {
    text-decoration: none;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 50px;
}

h2 {
    padding: 0;
    margin: 0;
    font-size: 30px;
}

p {
    text-align: justify;
}

p a:link{
    color: black;
 }

p a:visited{
   color: black;
}

main {
    background-color: #efe9d3;
}

.cnt {
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
}

code {
    padding: 0;
    margin: 0;
}

pre {
    padding: 10px;
    background-color: white;
}

.epam {
    width: 500px;
}

footer {
    background-color: #4a473e;
    padding: 10px 50px 10px 50px;
    color: #efe9d3;
}

h3 {
    margin: 0;
    padding: 10px 0px;
    font-size: 20px;
}

.end {
    font-size: 12px;
    margin-top: 10px;
}

.rs {
    width: 100px;
    padding: 0;
    margin: 0;
}